################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DustinQuiz/.vs/DustinQuiz/v15
